.nodeControl {
  float: left;
  width: 600px;
  height: 100%;
  min-height: 650px;
  margin: 10px;
  border: 2px #3d4061 solid;
  border-radius: 3px;
}

.nodeControl h3 {
  padding: 2px;
  margin-bottom: 2px;
}

.buttonSection {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonSection .coordinatorSpecific {
  float: right;
}

.buttonSection .subordinateSpecific {
  float: right;
}

.ui.tag.label {
  cursor: default;
}
