h1 {
  float: left;
}

button.ui.circular.icon.button {
  float: left;
  margin-top: 6px;
}

.nodes {
  float: right;
}

.nodeControl {
  float: left;
  width: 610px;
  height: 100%;
  min-height: 650px;
  margin: 10px;
  padding: 5px;
  border: 2px #3d4061 solid;
  border-radius: 3px;
}

.nodeControl h3 {
  padding: 2px;
  margin-bottom: 2px;
}

.buttonSection {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonSection .coordinatorSpecific {
  margin-top: 5px;
}

.buttonSection .subordinateSpecific {
  margin-top: 5px;
}

.ui.tag.label {
  cursor: default;
}
